	.FSloader {
		margin-top: 20px;
	}

	.FSloader .pattern {
		display: none;
	}
	
	.FSloader .textInner {
		height: 59px;
		overflow: hidden;
	}
	
	.FSloader .loader {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 20;
		background: #000;
		color: #fff;
		text-align: center;
		font-weight: bold;
		padding-top: 20%;
		font-size: 3em;
	}